@import "../../scss/utils/vars";
@import "../../scss/utils/mixins";

@keyframes scale-in-scale-out-animation {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

.loader {
  & {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 20px * 2);
    width: 100%;
  }

  &__container {
    transition: width 0.35s ease-out;

    @include for-small-phone {
      width: 85%;
    }

    @include for-phone {
      width: 60%;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;

    font-size: 1.8rem;

    animation: scale-in-scale-out-animation 3s ease-out infinite;
  }

  &__content-spoiler {
    font-size: 1rem;
  }

  &__image {
    width: 100%;
    margin-top: 10px;
    border-radius: 25%;
    border: 1px solid black;

    transition: width 0.35s ease-out;

    @include for-tablet {
      width: 80%;
    }

    @include for-desktop {
      width: 60%;
    }

    @include for-big-desktop {
      width: 50%;
    }
  }
}
