.player {
  padding: 10px;
  // height: 50px;

  font: {
    size: 1.2rem;
  }

  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.rhap_main-controls-button, // - размеры кнопки проигрывания 
.rhap_play-pause-button, // - кнопка проигрывания
.rhap_volume-button,
.rhap_repeat-button {
  color: darkred;
}

.rhap_time {
  color: white;
}

.rhap_progress-filled,
.rhap_progress-indicator,
.rhap_volume-indicator {
  background-color: darkred;
}
